{% extends 'base_site.html' %}
{% block menu.clientes %}active{% endblock %}
{% block title %}Clientes{% endblock %}
{% block title.h1 %}Nuestros Clientes{% endblock %}
{% block breadcrumb %}
<li class="active">Clientes</li>
{% endblock %}

<!-- 
	Note: remove class="rounded" from the img for squared image!
-->
{% block section1.container %}
<!-- 
	controlls-over		= navigation buttons over the image 
	buttons-autohide 	= navigation buttons visible on mouse hover only
	
	data-plugin-options:
		"singleItem": true
		"autoPlay": true
		"navigation": true
		"pagination": true
-->
<div class="text-center">
	<div class="owl-carousel nomargin" data-plugin-options='{"singleItem": false, "autoPlay": true}'>
		<div>
			<img class="img-responsive" src="http://consulta-its.com/static/images/clientes/administrategia.jpg" alt="">
		</div>
		<div>
			<img class="img-responsive" src="http://consulta-its.com/static/images/clientes/agore.jpg" alt="">
		</div>
		<div>
			<img class="img-responsive" src="http://consulta-its.com/static/images/clientes/bollhoff.jpg" alt="">
		</div>
		<div>
			<img class="img-responsive" src="http://consulta-its.com/static/images/clientes/calarcos.jpg" alt="">
		</div>
		<div>
			<img class="img-responsive" src="http://consulta-its.com/static/images/clientes/cisa.jpg" alt="">
		</div>
		<div>
			<img class="img-responsive" src="http://consulta-its.com/static/images/clientes/cloud.jpg" alt="">
		</div>
		<div>
			<img class="img-responsive" src="http://consulta-its.com/static/images/clientes/cobit.jpg" alt="">
		</div>
		<div>
			<img class="img-responsive" src="http://consulta-its.com/static/images/clientes/delallataabogados.jpg" alt="">
		</div>
		<div>
			<img class="img-responsive" src="http://consulta-its.com/static/images/clientes/diager.jpg" alt="">
		</div>
		<div>
			<img class="img-responsive" src="http://consulta-its.com/static/images/clientes/ego.jpg" alt="">
		</div>
		<div>
			<img class="img-responsive" src="http://consulta-its.com/static/images/clientes/erreka.jpg" alt="">
		</div>
		<div>
			<img class="img-responsive" src="http://consulta-its.com/static/images/clientes/fips.jpg" alt="">
		</div>
		<div>
			<img class="img-responsive" src="http://consulta-its.com/static/images/clientes/ganaderos.jpg" alt="">
		</div>
		<div>
			<img class="img-responsive" src="http://consulta-its.com/static/images/clientes/granotec.jpg" alt="">
		</div>
		<div>
			<img class="img-responsive" src="http://consulta-its.com/static/images/clientes/grupofame.jpg" alt="">
		</div>
		<div>
			<img class="img-responsive" src="http://consulta-its.com/static/images/clientes/grupoifm.jpg" alt="">
		</div>
		<div>
			<img class="img-responsive" src="http://consulta-its.com/static/images/clientes/itil.jpg" alt="">
		</div>
		<div>
			<img class="img-responsive" src="http://consulta-its.com/static/images/clientes/koppert.jpg" alt="">
		</div>
		<div>
			<img class="img-responsive" src="http://consulta-its.com/static/images/clientes/mafher.jpg" alt="">
		</div>
		<div>
			<img class="img-responsive" src="http://consulta-its.com/static/images/clientes/pkf.jpg" alt="">
		</div>
		<div>
			<img class="img-responsive" src="http://consulta-its.com/static/images/clientes/retesa.jpg" alt="">
		</div>
		<div>
			<img class="img-responsive" src="http://consulta-its.com/static/images/clientes/riken.jpg" alt="">
		</div>
		<div>
			<img class="img-responsive" src="http://consulta-its.com/static/images/clientes/safholland.jpg" alt="">
		</div>
		<div>
			<img class="img-responsive" src="http://consulta-its.com/static/images/clientes/serba.jpg" alt="">
		</div>
		<div>
			<img class="img-responsive" src="http://consulta-its.com/static/images/clientes/supraterra.jpg" alt="">
		</div>
		<div>
			<img class="img-responsive" src="http://consulta-its.com/static/images/clientes/threat.jpg" alt="">
		</div>
		<div>
			<img class="img-responsive" src="http://consulta-its.com/static/images/clientes/vifac.jpg" alt="">
		</div>

	</div>
</div>

{% endblock %}

{% block section2.container %}
<header class="text-center margin-bottom-10"><h3>Testimonios</h3></header>
<div class="row">
	<div class="col-md-4">
		<div class="testimonial testimonial-bordered padding-15">
			<figure class="pull-left">
				<img  src="http://consulta-its.com/static/images/clientes/testimonios/serba-img.jpg" alt="" />
			</figure>
			<div class="testimonial-content">
				<p> Gracias a Consulta ITS hemos logrado entender que nuestra labor es atender nuestro negocio, mientras ellos se encargan de darnos el soporte tecnológico que necesitamos para operar correctamente.</p>
				<cite>
					Walter Bauer
					<span>Director General</span>
					<span>SERBA</span>
				</cite>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="testimonial testimonial-bordered padding-15">
			<figure class="pull-left">
				<img  src="http://consulta-its.com/static/images/clientes/testimonios/delallata-img.jpg" alt="" />
			</figure>
			<div class="testimonial-content">
				<p>El resguado de la información de nuestra empresa es fundamental, Consulta ITS lo hace posible, ellos realizan estas rutinas de respaldo independientemente donde estemos y los tenemos siempre disponibles.</p>
				<cite>
					Juan Carlos de la Llata
					<span>Socio Director</span>
					<span> De la Llata Abogados</span>
				</cite>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="testimonial testimonial-bordered padding-15">
			<figure class="pull-left">
				<img  src="http://consulta-its.com/static/images/clientes/testimonios/grupofame.jpg" alt="" />
			</figure>
			<div class="testimonial-content">
				<p>Con la integración de servicios administrados de Consulta ITS, hemos logrado ser más eficientes con el control, mantenimiento y soporte, en cualquier parte del mundo.</p>
				<cite>
					Hazael Olivares
					<span>Gerente de IT</span>
					<span>Grupo FAME</span>
				</cite>
			</div>
		</div>
	</div>
</div>{% endblock %}
