{% extends 'base_site.html' %}
{% block menu.clientes %}active{% endblock %}
{% block title %}Clientes{% endblock %}
{% block title.h1 %}Nuestros Clientes{% endblock %}
{% block breadcrumb %}
<li class="active">Clientes</li>
{% endblock %}

<!-- 
	Note: remove class="rounded" from the img for squared image!
-->
{% block section1.container %}
<!-- 
	controlls-over		= navigation buttons over the image 
	buttons-autohide 	= navigation buttons visible on mouse hover only
	
	data-plugin-options:
		"singleItem": true
		"autoPlay": true
		"navigation": true
		"pagination": true
-->
<div class="text-center">
	<div class="owl-carousel nomargin" data-plugin-options='{"singleItem": false, "autoPlay": true}'>
		<div>
			<img class="img-responsive" src="assets/images/demo/brands/1.jpg" alt="">
		</div>
		<div>
			<img class="img-responsive" src="assets/images/demo/brands/2.jpg" alt="">
		</div>
		<div>
			<img class="img-responsive" src="assets/images/demo/brands/3.jpg" alt="">
		</div>
		<div>
			<img class="img-responsive" src="assets/images/demo/brands/4.jpg" alt="">
		</div>
		<div>
			<img class="img-responsive" src="assets/images/demo/brands/5.jpg" alt="">
		</div>
		<div>
			<img class="img-responsive" src="assets/images/demo/brands/6.jpg" alt="">
		</div>
		<div>
			<img class="img-responsive" src="assets/images/demo/brands/7.jpg" alt="">
		</div>
		<div>
			<img class="img-responsive" src="assets/images/demo/brands/8.jpg" alt="">
		</div>
	</div>
</div>


{% endblock %}

{% block section2.container %}
<header class="text-center margin-bottom-10"><h3>Testimonios</h3></header>
<div class="row">
	<div class="col-md-4">
		<div class="testimonial testimonial-bordered padding-15">
			<figure class="pull-left">
				<img  src="assets/images/demo/people/300x300/2-min.jpg" alt="" />
			</figure>
			<div class="testimonial-content">
				<p> Gracias a Consulta ITS Hemos logrado entender que nuestra labor es atender nuestro negocio, y que Consulta ITS nos de el soporte tecnológico que necesitamos para operar correctamente, todo se vuelve más rápido y más fácil, ellos hacen todo por nosotros, soporte, respaldos, seguridad, todo lo que tenga que ver con TI</p>
				<cite>
					Walter Bauer
					<span>Director General</span>
					<span>SERBA</span>
				</cite>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="testimonial testimonial-bordered padding-15">
			<figure class="pull-left">
				<img  src="assets/images/demo/people/300x300/1-min.jpg" alt="" />
			</figure>
			<div class="testimonial-content">
				<p>Nosotros no tenemos una operación muy compleja en terminos de sistemas, sin embargo es fundamental el resguado de la información generada, con Consulta ITS tenemos ese tema resuelto ya que ellos realizan estas rutinas de respaldo independientemente donde estemos y los tenemos disponibles cuando lo necesitamos. Adicionalmente resuelven dudas y atienden nuestras solicitudes de soporte técnico</p>
				<cite>
					Juan Carlos de la Llata
					<span>Socio Director</span>
					<span> De la Llata Abogados</span>
				</cite>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="testimonial testimonial-bordered padding-15">
			<figure class="pull-left">
				<img  src="assets/images/demo/people/300x300/6-min.jpg" alt="" />
			</figure>
			<div class="testimonial-content">
				<p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero!</p>
				<cite>
					Melissa Doe
					<span>Company Ltd.</span>
				</cite>
			</div>
		</div>
	</div>
</div>{% endblock %}
