{% extends 'base_site.html' %}
{% block menu.faq %}active{% endblock %}
{% block title %}FAQ{% endblock %}
{% block title.h1 %}Preguntas Frequentes{% endblock %}
{% block breadcrumb %}
<li class="active">Nosotros</li>
{% endblock %}

{% block section1.container %}
<div class="col-md-9">

							<p class="lead">Todas las respuestas a tus preguntas.</p>

							<!-- TOGGLES -->
							<div class="toggle toggle-transparent toggle-bordered-full margin-top-60">

								<div class="toggle"><!-- toggle -->
									<label>1. ¿Las soluciones que ofrecen son desarrolladas a la medida de las necesidades de nuestra empresa?</label>
									<div class="toggle-content">
										<p class="clearfix">
											Los estudios demuestran que el mantenimiento proactivo mejora y da mayor longevidad a los equipos, tiempo de actividad y eficiencia, proporcionando ahorros de costos a lo largo del tiempo. Puesto que todos nuestros planes de tarifas de servicios se basan en esta premisa, no ofrecemos servicios reactivos específicos, es decir, nuestro espectro es mucho más amplio, por lo que normalmente cubrimos más de lo que las organizaciones llegan a solicitarnos.
										</p>

									</div>
								</div><!-- /toggle -->

								<div class="toggle"><!-- toggle -->
									<label>2. ¿Qué es lo que incluyen sus planes de servicio?</label>
									<div class="toggle-content">
										<p class="clearfix">
											Mantenimiento proactivo y monitoreo las 24 horas del día en todos los equipos cubiertos, sistemas operativos, redes, anchos de banda, conexiones, aplicaciones genéricas y específicas, así como toda la actividad relacionada con su infraestructura entre ello:										</p>

										<div class="row">

											<div class="col-md-6 col-sm-6">

												<ul class="list-icon check-square"><!-- block 2 -->
													<li>Inventario y Auditoria de Hardware, Software y licencias</li>
													<li>Informes gerenciales para control de la operación (reportes)</li>
													<li>Administración de los parches de Microsoft</li>
													<li>Administración de discos (rendimiento).</li>
													<li>Control Remoto (Instalación / Políticas / Auditoria)</li>
													<li>Restablecimiento de contraseñas </li>
													<li>Creación y configuración de perfiles en la PC</li>
													<li>Antivirus y antispyware</li>
													<li>Help Desk</li>
												</ul>

											</div>

											<div class="col-md-6 col-sm-6">

												<ul class="list-icon check-square"><!-- block 2 -->
													<li>Administración de discos duros (mantenimiento y espacio)</li>
													<li>Automatización de tareas</li>
													<li>Gestión de licencias</li>
													<li>Sistema de tickets</li>
													<li>Monitoreo de indicadores y reportes para mejorar su planificación en TIC</li>
													<li>Monitoreo de red y apps (utilización, rendimiento y disponibilidad)</li>
													<li>Gestión de dispositivos SNMP</li>
													<li>Monitoreo 7x24</li>
												</ul>

											</div>

										</div>

									</div>
								</div><!-- /toggle -->

								<div class="toggle"><!-- toggle -->
									<label>3. Sin importar lo que pase en mi ambiente operativo, ¿siempre voy a pagar lo mismo cada mes por el servicio?</label>
									<div class="toggle-content">
										<p class="clearfix">
											Algunos ejemplos de artículos que no están cubiertos por nuestros planes de tarifas fijas por el servicio son: costo de reposición de hardware nuevo, gastos de envío, costos de licenciamiento de software o nuevo o por actualización o costos de cualquier proveedor tercero de apoyo. Cada vez que surja la posibilidad de existir algún cargo adicional fuera de la tarifa fija mensual, siempre será notificada de forma anticipada para su posible aprobación.
										</p>
									</div>
								</div><!-- /toggle -->

								<div class="toggle"><!-- toggle -->
									<label>4. ¿Qué es lo que incluyen sus planes de servicio?</label>
									<div class="toggle-content">
										<p class="clearfix">
											Nos ocupamos de todas las necesidades de TI de su negocio, utilizando soluciones tecnológicas que permiten apoyarlo en la reducción de sus costos, el incremento de sus ingresos y en la mitigación de los principales riesgos de negocios.
											<br /><br /> 
											Algunos ejemplos de las soluciones que Consulta ITS ofrece son:
										</p>

										<div class="row">

											<div class="col-md-12 col-sm-6">

												<ul class="list-icon check-square"><!-- block 2 -->
													<li>Evaluación del desempeño de sus equipos </li>
													<li>Hosting </li>
													<li>Remote Data Storage </li>
													<li>Plan de recuperación en desastres </li>
												</ul>

											</div>

										</div>

									</div>
								</div><!-- /toggle -->

								<div class="toggle"><!-- toggle -->
									<label>5. ¿Cómo puedo obtener mayor información para empezar a utilizar sus servicios?</label>
									<div class="toggle-content">
										<p class="clearfix">
											Sólo tiene que llamarnos al 01 55 1450 3400 desde la ciudad de México o en nuestra oficina de la ciudad de Querétaro al 01 442 388 5034 opción 1 Ventas, y estaremos a sus ordenes a fin de concertar una cita con usted para discutir sus necesidades empresariales particulares. Con el fin de asegurarnos de qué forma podremos aportarle valor a su negocio, nuestro proceso comienza con un “Análisis de Necesidades”, acompañado de un análisis de “Costo-Beneficio”, ya que con todo esto examinaremos los resultados y para así poder ofrecerle las mejores recomendaciones para usted.
										</p>
									</div>
								</div><!-- /toggle -->



							</div>
							<!-- /TOGGLES -->

							<!-- CALLOUT -->
							<div class="callout alert alert-border margin-top-60 margin-bottom-60">

								<div class="row">

									<div class="col-md-9 col-sm-12"><!-- left text -->
										<h4>Llámanos a los telefónos <strong>01 55 1450 3400</strong> o <strong>01 442 388 5034</strong> para comenzar a disfrutar de nuestros servicios</strong></h4>
										<p class="font-lato size-17">
											<br>
											Nos preocupamos por ti y tu empresa.
										</p>
									</div><!-- /left text -->

									
									<div class="col-md-3 col-sm-12 text-right"><!-- right btn -->
										<a href="/contacto.html" rel="nofollow"  class="btn btn-default btn-lg">Contáctanos</a>
									</div><!-- /right btn -->

								</div>

							</div>
							<!-- /CALLOUT -->

						</div>

{% endblock %}

{% block section2.container %}

{% endblock %}
