{% extends 'base.html' %}
{% block title %}Términos y Condiciones de uso{% endblock %}
	{% block content %}

	<section class="page-header dark">
				<div class="container">

					<h1>Términos y Condiciones de uso</h1>

					<!-- breadcrumbs -->
					<ol class="breadcrumb">
						<li><a href="/">Inicio</a></li>
						<li class="active">Términos y Condiciones de uso</li>
					</ol><!-- /breadcrumbs -->

				</div>
			</section>
			<!-- /PAGE HEADER -->




			<!-- -->
			<section class="padding-xlg">
				<div class="container">
					
					<div class="row">

						<div class="col-md-6 col-sm-6 hidden-xs">
							
							<div class="error-404">
								404
							</div>
						
						</div>

						<div class="col-md-6 col-sm-6">
						
							<h3 class="nomargin"><strong>Lo sentimos, </strong>la página que estás solicitando no existe!</h3>
							<p class="nomargin-top size-20 font-lato text-muted">Si crees que ha sido un error informa a <a href="/contacto">contacto@tarentomuebles.com</a>.</p>


							<div class="divider nomargin-bottom"><!-- divider --></div>

							<a class="size-16 font-lato" href="/"><i class="glyphicon glyphicon-menu-left margin-right-10 size-12"></i> ¡Regresa al inicio!</a>

						</div>

					</div>
					
				</div>
			</section>
			<!-- / -->
{% endblock %}